@use './variables/size';
@use './variables/fonts';

*, html, body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: fonts.$font-family;
}

.container {
	max-width: size.$large-device;
	width: 100%;

	margin: auto;
	padding: 0 size.$size-medium;
}
