@use './variables/size';
@use './variables/fonts';
@use './variables/colors';

*, html, body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: fonts.$font-family;
}

body {
	background-color: colors.$very-light-grayish-blue;
}

.container {
	max-width: size.$large-device;
	width: 100%;

	margin: auto;
	padding: 0 size.$size-medium;
}

.input {
	padding: size.$size-small size.$size-extra-small;
	font-size: size.$size-small;
	background-color: colors.$very-light-gray;

	outline: none;
	border: none;
	border-radius: size.$size-extra-small / 2;
}
