@use '../../styles/variables/colors';
@use '../../styles/variables/size';

.content {
	margin-top: size.$size-medium;
	padding: size.$size-small;

	background-color: colors.$very-light-gray;

	border: none;
	border-radius: size.$size-extra-small / 2;
}
