@use '../../styles/variables/size';
@use '../../styles/variables/colors';

.header__title {
	color: colors.$very-light-gray;
	font-size: size.$size-extra-large;
	letter-spacing: size.$size-extra-small;

	@media screen and (min-width: size.$small-device) {
		font-size: size.$size-super-large;
	}
}
