$size-extra-small: 0.5rem;
$size-small: 1rem;
$size-medium: 1.5rem;
$size-large: 2rem;
$size-extra-large: 3rem;

// Devices Sizes

$small-device: 640px;
$medium-device: 768px;
$large-device: 1024px;
$extra-large-device: 1280px;