@use '../../styles/variables/size';
@use '../../styles/variables/colors';

.footer {
	display: flex;
	justify-content: space-between;

	padding: size.$size-small;

	color: colors.$dark-grayish-blue;
}

.footer__clear-button {
	background-color: transparent;
	border: none;

	font-size: size.$size-small;
	color: colors.$dark-grayish-blue;

	cursor: pointer;
}
