@use '../../styles/variables/size';
@use '../../styles/variables/colors';
@use '../../styles/variables/fonts';

.filters {
	display: flex;
	justify-content: center;
	gap: size.$size-small;

	margin: size.$size-small 0;
	padding: size.$size-small 0;

	background-color: colors.$very-light-gray;
	border-radius: size.$size-extra-small / 2;
}

.filters__button {
	font-weight: fonts.$font-bold;

	background-color: transparent;
	color: colors.$dark-grayish-blue;

	border: none;
	cursor: pointer;

	@media screen and (min-width: size.$small-device) {
		font-size: size.$size-small;
	}
}

.active {
	color: colors.$bright-blue;
}
